<div id="header">
    <h1><a>问卷管理系统</a></h1>
</div>
<!--close-Header-part-->
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">欢迎 $!userInfo.loginName</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0)"><i class="icon-user"></i> 用户信息</a></li>
            </ul>
        </li>
        <li class=""><a title="" href="/index/logout"><i class="icon icon-share-alt"></i> <span class="text">注销登录</span></a></li>
    </ul>
</div>
<!--close-top-Header-menu-->