<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> 菜单</a>
    <ul>
        <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>问卷管理</span> <span class="label label-important">2</span></a>
            <ul>
                <li><a href="/question/list">题库管理</a></li>
                <li><a href="/question/list">问卷管理</a></li>
            </ul>
        </li>
        <li><a href="buttons.html"><i class="icon icon-tint"></i> <span>统计分析</span></a></li>
    </ul>
</div>
<!--sidebar-menu-->