#set($layout="layout/empty.vm")
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Matrix Admin</title><meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/static/assets/css/matrix-login.css" />
    <link href="/static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        body {
            font-family: '微软雅黑';
        }
    </style>
</head>
<body>
<div id="loginbox">
    <form id="loginform" class="form-vertical" action="/login/" method="post">
        <div class="control-group normal_text">
            <h3>问卷调查管理系统</h3>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" name="loginName"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" name="password"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly">验证</span><input type="text" name="checkcode" style="width: 200px;"/>
                    <img src="/login/code">
                </div>
            </div>
        </div>
        <div class="form-actions">
            <!--<span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">忘记密码?</a></span>-->
            <span class="pull-right"><input id="loginBtn" type="submit" class="btn btn-success" value="登&nbsp;录"/> </span>
        </div>
    </form>
    <form id="recoverform" action="#" class="form-vertical">
        <p class="normal_text">请输入管理员邮箱</p>

        <div class="controls">
            <div class="main_input_box">
                <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
            </div>
        </div>

        <div class="form-actions">
            <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
            <span class="pull-right"><a class="btn btn-info"/>Reecover</a></span>
        </div>
    </form>
</div>

<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/jquery.ajax.form.js"></script>
<script src="/static/assets/js/matrix.login.js"></script>
</body>

</html>
