<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsy.webseed.dao.PaperMapper">
    <insert id="save" parameterType="com.wsy.webseed.domain.SurveyPaperVo">
        insert into survey_paper (id,title,start_time,end_time,is_publish,create_time,update_time,is_del,describe)
        values (#{id},#{title},#{startTime},#{endTime},#{isPublish},sysdate,sysdate,#{isDel},#{describe})
    </insert>
    <update id="update" parameterType="com.wsy.webseed.domain.SurveyPaperVo">
        update survey_paper set update_time = sysdate
        <if test="title != null">,title = #{title}</if>
        <if test="startTime != null">,start_time = #{startTime}</if>
        <if test="endTime != null">,end_time = #{endTime}</if>
        <if test="isPublish != null">,is_publish = #{isPublish}</if>
        <if test="isDel != null">,is_del = #{isDel}</if>
        <if test="describe != null">,describe = #{describe}</if>
        where id = #{id}
    </update>
    <select id="query" resultType="com.wsy.webseed.domain.SurveyPaperVo" parameterType="map">
        select id,title,describe,start_time startTime,end_time endTime,is_publish isPublish,
        create_time createTime,update_time updateTime
        from survey_paper where 1=1
        <if test="title != null">and title = #{title}</if>
        <if test="isPublish != null">and is_publish = #{isPublish}</if>
        <if test="isDel != null">and is_del = #{isDel}</if>
    </select>

    <select id="queryById" resultType="com.wsy.webseed.domain.SurveyPaperVo" parameterType="long">
        select id,title,describe,start_time startTime,end_time endTime,is_publish isPublish,
        create_time createTime,update_time updateTime
        from survey_paper where id = #{id}
    </select>

    <select id="queryModulesByPaperId" parameterType="long" resultType="com.wsy.webseed.domain.SurveyPaperModuleVo">
        select r.id,r.name,r.module_index moduleIndex,r.paper_id paperId
        from survey_paper_module r,survey_paper p where r.paper_id = p.id and p.id = #{paperId} order by r.module_index
    </select>

    <select id="queryQuestionsByModuleId" parameterType="long" resultType="com.wsy.webseed.domain.SurveyQuestionVo">
        select sq.id,sq.title,sq.mode_type modeType,sq.options,sq.is_del isDel,
        sq.update_time updateTime,sq.create_time createTime
        from survey_question sq,survey_paper_module_question r where r.question_id = sq.id and r.module_id = #{moduleId}
    </select>

    <select id="queryQuestionsByPaperId" parameterType="long" resultType="com.wsy.webseed.domain.SurveyQuestionVo">
        select sq.id,sq.title,sq.mode_type modeType,sq.options,sq.is_del isDel,
        sq.update_time updateTime,sq.create_time createTime
        from survey_question sq,survey_paper_module_question r,survey_paper p,survey_paper_module pm
        where sq.id = r.question_id and r.module_id = pm.id and pm.paper_id = p.id and p.id = #{paperId}
    </select>
</mapper>