<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsy.webseed.dao.SurveyStatisticsQuestionMapper">
    <insert id="save" parameterType="com.wsy.webseed.domain.SurveyStatisticsQuestionVo">
        insert into SURVEY_STATISTICS_QUESTION (paper_id,question_id,answer,question_mode,statistics_id)
        values (#{paperId},#{questionId},#{answer},#{questionMode},#{statisticsId})
    </insert>

    <select id="queryByPaperId" parameterType="long" resultType="com.wsy.webseed.domain.SurveyStatisticsQuestionVo">
        select paper_id paperId,question_id questionId,answer,question_mode questionMode,
        statistics_id statisticsId from SURVEY_STATISTICS_QUESTION where statistics_id = #{statisticsId}
    </select>
</mapper>