<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsy.webseed.dao.QuestionMapper">
    <insert id="save" parameterType="com.wsy.webseed.domain.SurveyQuestionVo">
        insert into survey_question (id,title,mode,options) values (#{id},#{title},#{mode},#{options})
    </insert>
</mapper>