#set($firstMenu=1)
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/index/" title="首页" class="tip-bottom"><i class="icon-home"></i>首页</a>
            <a href="/paper/list" title="问卷管理" class="tip-bottom"><i class="icon-home"></i>问卷管理</a>
        </div>
        <form action="" class="form-horizontal">
            <div class="form-actions">
                <a class="btn btn-primary" href="/paper/add">新增问卷</a>
            </div>
        </form>
    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    <div class="container-fluid">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                <h5>问卷列表</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>是否发布</th>
                        <th>是否配置</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="paperTbody">
                        #foreach($!vo in $!list)
                        <tr>
                            <td>$!vo.title</td>
                            <td>
                                $!dateTool.format('yyyy-MM-dd',$!vo.startTime)
                            </td>
                            <td>
                                $!dateTool.format('yyyy-MM-dd',$!vo.endTime)
                            </td>
                            <td>
                                $!publishMap.get($!vo.isPublish)
                            </td>
                            <td>
                                $!configMap.get($!vo.config)
                            </td>
                            <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!vo.createTime)</td>
                            <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!vo.updateTime)</td>
                            <td>

                                <a href="/paper/config/$!vo.id" style="color:green;font-weight: bold">配置试卷</a>
                                <a href="javascript:void(0)" class="upd" data-id="$!vo.id">修改</a>
                                <a href="javascript:void(0)" class="publish" data-id="$!vo.id">发布</a>
                                <a href="javascript:void(0)" class="del" data-id="$!vo.id">删除</a>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['scripts/common/dataTable','scripts/paper/paperList'], function () {
    });
</script>