#set($layout="layout/empty.vm")
<!DOCTYPE html>
<html>
<head>
    <title>Matrix Admin</title><meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap-responsive.min.css" />
    <style>
        body {
            font-family: '微软雅黑';
            background-color: #ddd;
        }
    </style>
</head>
<body>
<div id="paper">
    <h2 style="text-align: center;margin-top: 50px;">$!paperVo.title</h2>
    <h5 style="text-align: center;margin-top: 50px;">
        问卷有效期:
        $!dateTool.format('yyyy-MM-dd',$!paperVo.startTime)
        至 $!dateTool.format('yyyy-MM-dd',$!paperVo.endTime)
    </h5>
    <input type="hidden" id="paperId" value="$!paperVo.id">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2"></div>
            <div class="span8" id="questionContainer"></div>
            <div class="span2"></div>
        </div>
        <hr>
        <div class="row-fluid" style="margin-top: 50px;">
            <div class="span2"></div>
            <div class="span8">
                <form action="">
                    <h5>联系方式*</h5>
                    <ul>
                        <li>电子邮箱 <input type="text"></li>
                    </ul>
                </form>
            </div>
            <div class="span2"></div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts/paper/paperShow.js"></script>
</html>